.JsonOutput {
  padding: 24px 16px;
  display: flex;
  overflow-x: scroll;
}

.OutputContainer {
  border: 1px solid lightgray;
  border-radius: 4px;
}

.OutputContainerLabel {
  width: 60px;
  text-align: center;
  margin-top: -12px !important;
  margin-left: 10px !important;
  background: white;
  color: gray;
}

.icon-container {
  margin-right: 8px;
}

.object-content {
  font-size: 16px;
}

.variable-value div {
  font-size: 16px !important;
  font-weight: normal !important;
  background-color: transparent !important;
}

.expanded-icon svg {
  width: 18px !important;
  height: 18px !important;
}
